<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <article>
      <h1><b><%= @post.title%></b></h1>
      <%if @post.thumbnail?%>
      <%= image_tag(@post.thumbnail.url,:size => "260x180")%><br>
      <%end%>
      <div class="lead"><p><%= @post.content%></p>
      </div>
    </article>
  </div>
</div>


