<%= form_with(model: comment) do |form| %>
   <%= form.hidden_field :post_id %>
   <%= form.text_area :message , placeholder:"write your thinking here"%>
  <div class="actions">
    <%= form.submit %>
   </div>
 <% end %>