<% if object.errors.any? %>
  <div class="card">
    <div class="card-body">
      <h2><%= pluralize(object.errors.count, "error") %> prohibited this article from being saved:</h2>
      <ul>
        <% object.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <%end %>
      </ul>
    </div>
  </div>
<% end %>
